<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Twitter API</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css" integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body style="background-color:white">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <div id="fullPage">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center" style="background-color:white">
            <h1 style="font-size: 90px;">Twitter API Dashboard</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Other pages -->
    <div class="section" style = "background-color: steelblue;">
        <div class="slide"> 
         
            <div class="row">
                <div class="col-md-4">
                  <div class="well" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 10px; background-color:#dca6a6; border-style: solid; border-radius: 20px; border-width:medium; border-color: black;">
                    <h2 >Twitter User Name:</h2>
                    <select id="selDataset" onchange="optionChanged(this.value)" style="font-size: 17px;"></select>
                  </div>
                  <div class="panel panel-primary" style="font-family:Georgia, 'Times New Roman', Times, serif;font-size: 20px; background-color:#dca6a6; border-style: solid; border-radius: 20px; border-width:medium; border-color: black;">
                    <div id="sample-metadata" class="panel-body" ></div>
                  </div>
                </div>
                

            </div>
            <div class="row">
            
                <div class="col-md-4" style="background-color: #a6dcdc; border-style: solid; border-radius: 10px;">
                  <div id="bar"></div>
                </div>
                <div class="col-md-4" style="background-color: #a6dcdc; border-style: solid; border-radius: 10px;">
                  <div id="scatter"></div>
                </div>
                <div class="col-md-4" style="background-color: #a6dcdc; border-style: solid; border-radius: 10px;">
                  <div id="pie"></div>
                </div>
  
            </div>

             

          
        </div>
        
    </div>
    <div class="section" style = "background-color: white;">
      <div class="slide"> 
        <div class="row">
          <div class="col-md-12">
            <h1 style="text-align: center; font-size: 50px; margin-bottom: 100px;">Like Count Comparison</h1>
            <div class="col-md-5" style = "margin-left: 100px; background-color: #a8dca6; border-style: solid; border-radius: 20px;">
              <div id="likebar2"></div>
            </div>
            <div class="col-md-5" style = "margin-left: 100px; background-color: #a8dca6; border-style: solid; border-radius: 20px;">
              <div id="likebar3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide"> 
        <div class="row">
          <div class="col-md-12">
            <h1 style="text-align: center; font-size: 50px; margin-bottom: 100px;">Reply Count Comparison</h1>
            <div class="col-md-5" style = "margin-left: 100px; background-color: #a6dadc; border-style: solid; border-radius: 20px;">
              <div id="relybar1"></div>
            </div>
            <div class="col-md-5" style = "margin-left: 100px; background-color: #a6dadc; border-style: solid; border-radius: 20px;">
              <div id="replybar2"></div>
            </div>
          </div> 
        </div>
      </div>
      <div class="slide"> 
        <div class="row">
          <div class="col-md-12">
            <h1 style="text-align: center;font-size: 50px; margin-bottom: 100px;">Retweet Count Comparison</h1>
            <div class="col-md-6">
              <div id="retweetbar1" style = "margin-left: 100px; background-color: #dca6dc; border-style: solid;"></div>
            </div>
            <div class="col-md-5">
              <div id="retweetbar2" style = "margin-left: 50px; background-color: #dca6dc; border-style: solid;"></div>
            </div>
          </div> 
        </div>
      </div>
      <div class="slide"> 
        <div class="row">
          <div class="col-md-12">
            <h1 style="text-align: center;font-size: 50px; margin-bottom: 100px;">Quote Count Comparison</h1>
            <div class="col-md-5" style = "margin-left: 100px; background-color: #dca6a6; border-style: solid; border-radius: 20px;">
              <div id="quotebar1"></div>
            </div>
            <div class="col-md-5" style = "margin-left: 100px; background-color: #dca6a6; border-style: solid; border-radius: 20px;">
              <div id="quotebar2"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  <div class="section" style = "background-color: steelblue;">
    <div class="slide"> 
      <div class="container">
        <div class="row">
          <h1 style="text-align: center; font-size: 50px; margin-bottom: 50px;">Overall Comparison</h1>
            <div class="col-md-12">
              <div id="scatterall"></div>
            </div>
         </div>
      </div>
    </div>
</div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script>
    new fullpage('#fullPage', {
        //options here
        autoScrolling:true,
        navigation: true,
        controlArrows: false,
        slidesNavigation: true
    });
  </script>

</body>
</html>






