<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Twitter API</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css" integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="background-color:steelblue">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.js" integrity="sha512-GgeYbSbIufsTDQLCp/zhWN2AJRddt3w9p942+lOS5emAtvRBGo65t2zq8Svq+CIZIo1V1DgA6kHzQTBCH0HiXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <div id="fullpage">
    <div class="section">
      <div class="container">

        <div class="row">
          
          <div class="col-md-12 jumbotron text-center" style="background-color:steelblue">
            <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Twitter API Dashboard</h1>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">

            <div class="well">
              <h5>User Name:</h5>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Basic Info</h3>
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>

          </div>

          <div class="col-md-5">
            <div id="bar"></div>
          </div>

          <div class="col-md-5">
            <div id="gauge"></div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="bubble"></div>
          </div>
        </div>

      </div>
    </div>

    <!-- Other pages -->
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>

  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="templates/static/app.js"></script>

  <script>
    new fullpage('#fullpage', {
        //options here
        autoScrolling:true,
        scrollHorizontally: true
    });
  </script>

</body>

</html>
